.cardBody {
    width: 600px;
   

    @media screen and (max-width: 968px) {

        margin: auto;
        width: 95vw;
        

    }
}

.introNew{
    text-align: center;
}

.newTitle{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}