

.ValueText{

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: initial;


}

.titleText{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.btnConta{
    text-align: center;
}