.nav{
  background-color: #408558;
  height: 150px;
}

.cont{
  margin-top: -120px;
}
.header{
    width: 80vw;
    height: 200px;
    
  
    
    @media screen and (max-width: 968px) {
        
        margin: auto;
        width: 90vw;
        height: 500px;
      
      } 
}


.welcome{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  @media screen and (max-width: 968px) {
      
    text-align: center;
    
    } 
}

.userName{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  color: #fff;

  @media screen and (max-width: 968px) {
      
    text-align: center;
    
    } 
}

.saldoGeral{

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  @media screen and (max-width: 968px) {
      
    text-align: center;
    
    } 
}

.userSaldo{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  @media screen and (max-width: 968px) {
      
    text-align: center;
    
    } 
}

.cadDespesa{
  
  @media screen and (max-width: 968px) {
      
    padding-left: 12vw;
    
    } 
}

.despesa{
    background-color: #c32722;
    color: white;
    border-radius: 10px;
    max-width: 200px;
    max-height: 60px;
    
}

.saldo{
    background-color: #408558;
    color: white;
    border-radius: 10px;
    max-width: 200px;
    max-height: 60px;

}

.saldoGreen{
  @media screen and (max-width: 968px) {
      
    justify-content: center;
    
    } 
}

.despesaRed{
  @media screen and (max-width: 968px) {
      
    justify-content: center;
    
    } 
}

.cadastrar{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  @media screen and (max-width: 968px) {
      
    text-align: center;
    
    } 
}

.cadastrarButtons{
  @media screen and (max-width: 968px) {
      
    justify-content: center;
    
    } 
}