.cardBody {
    width: 600px;
   

    @media screen and (max-width: 968px) {

        margin: auto;
        width: 95vw;
        

    }
}

.despesaPage{

   text-align: center;
    
}

.title{
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #18d855;
}

.button{
    width: 200px;
}