.cardBody {
    width: 600px;
   

    @media screen and (max-width: 968px) {

        margin: auto;
        width: 95vw;
        

    }
}

.nav3{
    background-color: #408558;
    height: 100px;
    
  }

.navCard{
    margin: auto;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.navCard:focus{
    color: white;
}

.navCard:hover{
    color: #621513;
}

.navCard2{
    margin: auto;
    text-decoration: none;
    
    color: white;
    font-weight: 300;
}

.navCard2:focus{
    color: #621513;;
}

.navCard2:hover{
    color: #621513;;
}
.despesaPage{

   text-align: center;
    
}

.title{
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #408558;
}

.button{
    width: 200px;
}