

.titleText{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
}

.porc{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        
        color: crimson;
}

.btnMaiores{
    text-align: center;
}