.footer{
    
    background-color: white; ;
    text-align: center;
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    
}

.mais{
    background-color: #408558;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    padding: 5px;
}